<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about-content">
            <h2>About us</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam itaque dignissimos dolor omnis neque quia dolorem
                consequuntur explicabo dolorum voluptate?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam itaque dignissimos dolor omnis neque quia dolorem
                consequuntur explicabo dolorum voluptate?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam itaque dignissimos dolor omnis neque quia dolorem
                consequuntur explicabo dolorum voluptate?
            </p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
